.image-precache {
	background-image: url("file://{images}/custom_game/innate_icons/ability_innate_element_arcane.png");
	background-image: url("file://{images}/custom_game/innate_icons/ability_innate_element_darkness.png");
	background-image: url("file://{images}/custom_game/innate_icons/ability_innate_element_fire.png");
	background-image: url("file://{images}/custom_game/innate_icons/ability_innate_element_ice.png");
	background-image: url("file://{images}/custom_game/innate_icons/ability_innate_element_light.png");
	background-image: url("file://{images}/custom_game/innate_icons/ability_innate_element_nature.png");
	background-image: url("file://{images}/custom_game/innate_icons/ability_innate_element_nether.png");
	background-image: url("file://{images}/custom_game/innate_icons/ability_innate_element_stone.png");
	background-image: url("file://{images}/custom_game/innate_icons/ability_innate_element_technology.png");
	background-image: url("file://{images}/custom_game/innate_icons/ability_innate_element_wind.png");
	background-image: url("file://{images}/custom_game/talent_icons/demon.png");
	background-image: url("file://{images}/custom_game/talent_icons/ice_tower.png");
	background-image: url("file://{images}/custom_game/talent_icons/potion.png");
	background-image: url("file://{images}/custom_game/talent_icons/wand.png");
	background-image: url("file://{images}/custom_game/talents_toggle_arrow.png");
	background-image: url("file://{images}/custom_game/talents_upgrade.png");
	background-image: url("file://{images}/custom_game/talents_upgrade_disabled.png");
	background-image: url("file://{images}/custom_game/talents_upgrade_disabled_bevel.png");
	background-image: url("file://{images}/custom_game/talents_upgrade_glow.png");
	background-image: url("file://{images}/custom_game/ui/primary_attribute_icon_agility_percentage.png");
	background-image: url("file://{images}/custom_game/ui/primary_attribute_icon_intelligence_percentage.png");
	background-image: url("file://{images}/custom_game/ui/primary_attribute_icon_strength_percentage.png");
}